<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> Hello, </h1>
<p>
  Your organization has been confirmed by Admin <br>
</p>

<p>Thanks for joining us and have a great day!</p>
</body>
</html>