<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome Admin, </h1>
<p>
  New organization has been created by <%=@author.name%> <br>
</p>
<p>
  To activate organization <%= @org%> , click: <%= @url %> <br> <%= @url1 %>
</p>
<p>Thanks for help and have a great day!</p>
</body>
</html>