<div class="container">
  <h2><%= t(".Your closed posts") %></h2>
  <% @post_history.each do |item|%>
  <ul>
    <li>
      <%= link_to item.title, closed_post_path(item) %>
    </li>
  </ul>
  <% end %>
</div>