@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import "leaflet";
@import "posts";
@import "registrations";
@import "organizations";

#map {
  height: 300px;
}
#index-map {
  height: 500px;
  height: 70vh;
}
#org-map {
  height: 300px;
}
.posts-all .post:nth-child(3n+1){
  clear:left;
}
.org-coordinate{
  display: none;
}