@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import "leaflet";

.new-organization-map {
  height: 300px;
}
.legend_box{
  width: 100%;
  overflow: hidden;
}
.imagebox {
  max-width: 200px;
  float: left;
  display: table;
  margin-bottom: 5px;
}
.imagebox div{
  display: table-cell;
  font-size: 11px;
  vertical-align: middle;
  height: 50px;
}
.wrap{
  width: 40px;
  height: auto;
}
.wrap img {
  width: 70%;
  height: auto;
}
.main-map {
  height: 550px;
  height: 80vh;
}
.organization-map {
  height: 300px;
}
.posts-all .post:nth-child(3n+1){
  clear:left;
}
.marker-post {
  max-height: 98px;
  overflow: hidden;
}
.leaflet-container .btn{
  color: #ffffff;
}
.org-coordinate{
  display: none;
}
.pure-button{
  border: none;
  background: url(my_icon.png) 0 0 no-repeat;
  display: inline-block;
  position: absolute;
  top: 80px;
  left: 7px;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.pure-button:focus{
  border:none;
  outline:none;
}
.pseudo-footer{
  height: 70px;
}
footer{
  margin-top: -50px;
  height: 50px;
  background: #32aae1;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  position: relative;
}
footer p{
  line-height: 50px;
  margin: 0;
  color: #fff;
}
footer a{
  color: #fff;
}
.headertop{
  background: url(scrollup.png) 0 0 no-repeat;
  background-size: 45px 45px;
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 45px;
  height: 45px;
}