
@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import "leaflet";

.new-organization-map {
  height: 300px;
}
.main-map {
  height: 550px;
  height: 80vh;
}
.organization-map {
  height: 300px;
}
.posts-all .post:nth-child(3n+1){
  clear:left;
}
.org-coordinate{
  display: none;
}
.pure-button{
  border: none;
  background: url(my_icon.png) 0 0 no-repeat;
  display: inline-block;
  position: absolute;
  top:80px;
  left:7px;
  background-size:30px 30px;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.pure-button:focus{
  border:none;
  outline:none;
}
