body, html{
  height: 100%
}
body{
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
  min-width: 980px;
  @media (max-width: 980px){
    position: relative;
  }
}
.all{
  min-height: 100%;
}
h1{
  font-size: 20px;
  text-transform: uppercase;
  margin: 17px 0;
}
h2, h3{
  font-size: 19px;
  margin: 0 0 10px;
}
h4{
  font-size: 16px;
  margin: 0 0 10px;
}
h5{
  font-size: 14px;
  margin: 0 0 10px;
}
.container{
  min-width: 980px;
  @media (max-width: 980px){
    width: 100%;
    overflow: hidden;
  }
}
.sidebar{
  margin-top: 4px;
  padding-left: 40px;
}
.al-right{
  text-align: right;
}

.navbar{
  background: #fff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);
  z-index: 999;
  width: 100%;
}
.navbar.navbar-fixed-top{
  @media (max-width: 980px){
    position: absolute;
    width: 100%;
  }
}
.navbar-toggle{
  border: 1px solid red;
}
.navbar-nav{
  @media (max-width: 980px){
    margin-left: 0;
    margin-right: 0;
  }
}
.navbar-nav>li{
  float: left;
}
.navbar-nav>li a{
  text-transform: uppercase;
  color: #32aae1;
}
.navbar-nav>li:hover a{
  color: #fff;
  transition: background .3s linear 0s,color .3s linear 0s;
  -moz-transition: background .3s linear 0s,color .3s linear 0s;
  -ms-transition: background .3s linear 0s,color .3s linear 0s;
  -o-transition: background .3s linear 0s,color .3s linear 0s;
  -webkit-transition: background .3s linear 0s,color .3s linear 0s;
  background-color: #32aae1;
}
.navbar-nav>li:hover>a {
  color: #fff;
  transition: background .3s linear 0s,color .3s linear 0s;
  -moz-transition: background .3s linear 0s,color .3s linear 0s;
  -ms-transition: background .3s linear 0s,color .3s linear 0s;
  -o-transition: background .3s linear 0s,color .3s linear 0s;
  -webkit-transition: background .3s linear 0s,color .3s linear 0s;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #32aae1;
  border-color: #ccc;
  color: #fff;
}
.navbar-nav > li > .dropdown-menu{
  background-color: #32aae1;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);
}
.navbar-nav > li > .dropdown-menu a{
  color: #fff;
}
.navbar-nav > li > .dropdown-menu a:hover{
  text-decoration: underline;
}
.navbar-nav > li > .dropdown-menu a:hover,
.navbar-nav > li > .dropdown-menu a:focus{
  background-color: transparent;
}
.dropdown-menu.lang{
  min-width: 200px;
}
.dropdown-menu.lang a{
  display: block;
  padding: 2px 20px 2px 14px;
}
.caret{
  margin-left: 6px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #ccc;
}

.btn-primary{
  background-color: #32aae1;
  border-color: #32aae1;
}



.organizations h4 em{
  font-weight: normal;
  font-size: 14px;
}

/*post-detail*/
.post-detail {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  h1 {
    margin: 17px 0;
    font-size: 20px;
  }
  .post-info{
    margin: 10px 0;
    div {
      display: inline-block;
      color: #888888;
      font-size: 14px;
      line-height: 24px;
      margin-right: 10px;
      white-space: nowrap;
      span, small {
        margin-right: 7px;
      }
    }
  }
  .post-action{
    margin: 12px 0 8px;
    text-align: right;
    a{
      margin-right: 10px;
    }
  }
  .sidebar{
    .inner{
      padding: 0 0 0 20px;
    }
    select{
      width: 100%;
      height: 28px;
    }
  }
  .post-status {
    font-size: 14px;
    margin: 0 0 12px;
    h3{
      margin: 17px 0 12px;
      font-size: 18px;
    }
    p{
      position: relative;
      padding: 0 0 15px 25px;
      margin: 0 0 0 -25px;
    }
    .link{
      text-align: right;
    }
    .opened {
      &:before {
        content: "!";
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        background: #e91e63;
        color: #fff;
        line-height: 16px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-radius: 50%;
      }
    }
    .closed{
      span{
        color: green;
        margin-right: 5px;
      }
    }
  }
}

.post-aids-num{
  padding: 0 0 10px;
  span{
    display: inline-block;
    color: #32aae1;
    font-weight: bold;
    font-size: 15px;
  }
}

/*aids-block*/
.aids-block{
  margin: 0 0 20px;
  h3{
    margin: 17px 0 12px;
    font-size: 19px;
  }
  p.create-post{
    margin: 0 0 30px;
    text-align: right;
  }
  .aid-item{
    padding: 5px 10px;
    margin: 0 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .aid-author{
    color: #888888;
    font-size: 14px;
    line-height: 24px;
    span{
      margin-right: 10px;
    }
  }
  .aid-item.post{
    padding: 0 0 5px;
    margin: 0 20px 10px;
    border: none;
    border-bottom: 1px dotted #ccc;
    border-radius: 0;
    width: 100%;
  }
  .aid-status{
    font-size: 13px;
    position: relative;
    padding: 0 0 0 20px;
    .glyphicon{
      color: #337ab7;
      font-size: 14px;
      position: absolute;
      top: 1px;
      left: 0;
      &.glyphicon-ok{
        color: #04751b;
      }
    }

  }
  .aid-status.error{
    .glyphicon{
      color: #e91e63;
    }
  }
}

.post-aids-list{
  display: none;
}

.message-post-deleted{
  width: 80%;
  max-width: 600px;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -300px;
  padding: 15px 20px;
  text-align: center;
  background: rgba(190,190,255, 0.4);
  border-radius: 3px;
  color: #337ab7;
  font-size: 16px;
}

.aids-form-block {
  .aid-message{
    padding: 10px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    margin: 0 0 15px;
    .aid-response {
      color: #2e6da4;
      display: inline-block;
    }
  }
  .aid-pseudolink {
    color: #2e6da4;
    border-bottom: 1px dashed #2e6da4;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
  }  
  .aids-form {
    display: none;
    padding: 10px;
    border: 1px dotted #ccc;
  }
}
.comments-list{
  h2{
    font-size: 20px;
    margin: 17px 0;
  }
}

.user-profile {
  .user-info {
    .user-info-main {
      padding: 0 0 20px;
      p {
        margin: 0;
      }
    }
    .user-organizations {
      padding: 0 0 30px;
    }
    .user-organization {
      padding: 0 210px 5px 0;
      margin: 0 0 15px;
      border-bottom: 1px dotted #ccc;
      position: relative;
      .user-org-action {
        margin: 0 10px;
        font-size: 14px;
        width: 200px;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  .post-item{
    .inner{
      margin: 0 0 30px 0;
      padding: 10px;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.13);
      margin-bottom: 30px;
      position: relative;
    }
    h5{
      text-transform: uppercase;
      font-weight: normal;
    }
    .post-item-aid{
      padding: 0 0 20px;
      margin: 0 0 15px;
      border-bottom: 1px dotted #ccc;
      .aid-author > div{
        display: inline-block;
        margin: 0 15px 0 0;
      }
      &:last-child{
        border-bottom: none;
      }
    }
    .aid-org{
      padding: 0 0 5px;
    }
    .aid-description{
      padding: 0 0 10px;
      font-size: 13px;
      color: #444;
    }
    .post-item-aid-bot{
      em{
        font-size: 12px;
        color: #444;
      }
      .glyphicon-ok{
        color: green;
      }
    }
    .mes-ushow-aids{
      font-size: 10px;
      color: #e91e63;
    }
    .show_aids{
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-decoration: none;
      padding: 4px 4px 2px;
      border: 1px solid #32aae1;
      background: #fff;
      border-radius: 3px;
      line-height: 1;
      span{
        color: #32aae1;
      }
    }
  }
  .not-active-post{
    padding: 20px 0;
  }
  .user-orders{
    padding: 0 0 20px;
  }
  .user-order{
    padding: 0 0 7px;
    p, li{
      font-size: 14px;
      color: #888888;
    }
  }
  .aid-publ{
    font-size: 13px;
    line-height: 1.3;
    padding: 0 0 8px;
  }
  .sidebar{
    .aid-item{
      .post-title a{
        display: block;
      }
    }

  }

}
.posts-all{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .post{
    width: 50%;
    margin-bottom: 40px;

    .panel{
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.13);
      margin: 0 30px 0 0;
      height: 100%;
      position: relative;
      padding: 0 0 70px;
    }
    .panel-category{
      padding: 4px 4px 3px;
      color: #fff;
      display: inline-block;
      background: #cddc39;
      border-radius: 3px;
      position: absolute;
      bottom: 20px;
      right: 15px;
      max-width: 150px;
      text-align: center;
      font-size: 12px;
      &.help{
        background: #e91e63;
      }
    }
    .panel-title{
      margin: -6px 0 0 0;
      color: #222222;
      font: 400 20px/26px 'Roboto',sans-serif;
      text-transform: uppercase;
      a{
        text-decoration: none;
        color:  #32aae1;
        transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        &:hover{
          color:  #23527c;
        }
      }
    }
    .panel-body{
      color: #888888;
      font-size: 14px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-right: 160px;
      div{
        margin: 0 0 5px;
        .glyphicon{
          margin: 0 8px 0 0;
        }
      }
    }

  }
}
.post-all-orgs{
  margin: 20px 0;
  padding: 20px 0 0;
  border-top: 1px solid #ccc;
  h3{
    text-transform: uppercase;
    font-weight: normal;
    padding: 0 0 20px;
  }
}


.pagination{
  text-align: right;
  padding: 0 0 20px;
  width: 100%;
  .page{
    display: inline-block;
    margin: 0 1px 0 0;
    text-align: center;
    border-radius: 3px;
    a{
      display: inline-block;
      padding: 4px 0;
      width: 30px;
      border: 1px solid #32aae1;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .page.current{
    background: #32aae1;
    color: #fff;
    padding: 4px 0;
    width: 30px;
    border: 1px solid #32aae1;
    border-radius: 3px;
  }
  .page:hover{
    background: #32aae1;
    a{
      color: #fff;
      border-radius: 3px;
      display: inline-block;
    }
  }
}












.alert{
  width: 80%;
  margin: 0 auto 20px;
  text-align:  center;
}
.alert.alert-error{
  background: rgba(204, 31, 4, 0.5);
  color: #170401;
  padding: 15px 20px;
}


.navbar-brand{
  width: 40px;
  height: 40px;
  padding: 5px 0 0 0;
}
.navbar-brand img{
  width: 100%;
  height: 100%;
}
.new_message a{
  color: #1761b7 !important;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  padding: 13px 13px 0 0!important;
}
.nav > li.new_message:focus,
.nav > li.new_message:hover a,
.nav > li.new_message a:hover,
.nav > li .new_message a:focus{
  background: transparent;
  outline: none;
}

.new_message a .red_circle{
  background: #e91e63;
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 4px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 15px;
}

.red_circle{
  animation: blink 1s infinite linear;
  -webkit-animation:  blink 1s infinite linear;
}

@-webkit-keyframes blink {
  50% { opacity: 0; }
  100% { opacity: 1;}
}
@keyframes blink {
  50% { opacity: 0; }
  100% { opacity: 1;}
}
.color-grey {
  color: #888888;
}