body{
  padding-top: 70px;
}
.navbar{
  background: #ccc;
}
.aids-block{
  .aid-item{
    padding: 5px 10px;
    margin: 0 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .aid-item.post{
    padding: 0 0 5px;
    margin: 0 0 10px;
    border: none;
    border-bottom: 1px dotted #ccc;
    border-radius: 0;
    width: 50%;
  }
}
.message-post-deleted{
  width: 80%;
  max-width: 600px;
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -300px;
  padding: 15px 20px;
  text-align: center;
  background: rgba(190,190,255, 0.4);
  border-radius: 3px;
  color: #337ab7;
  font-size: 16px;
}
.pseudolink{
  color: #2e6da4;
  border-bottom: 1px dashed #2e6da4;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}
.aids-form{
  display: none;
  padding: 10px;
  border: 1px dotted #ccc;
}
.alert.alert-error{
  background: rgba(204, 31, 4, 0.5);
  color: #170401;
  padding: 15px 20px;
  text-align: center;
}

