<p><%= t(".Specify the location of the organization on the map") %>:</p>
<button id="map-reset">Reset Map</button>
<br><br>
<div id="new-organization-map" class="new-organization-map">
  <button class="pure-button pure-button-primary" id="btn-locate-user"></button>
</div>
<br><br><br>