<div class="container">
  <h1 class="al-center"><%= t(".Edit organization") %></h1>
  <div class="row">
      <div class="col-md-6 form-block">
        <%=  render 'form' %>
      </div>
      <div class="col-md-6">
        <p><%= t(".Specify the location of the organization on the map") %>:</p>
        <button id="map-reset">Reset Map</button>
        <br><br>
        <div id="map">
          <button class="pure-button pure-button-primary"></button>
        </div>
        <br><br><br>
      </div>
  </div>
</div>