<div class="container">
  <h1 class="al-center"><%= t(".Edit organization") %></h1>
  <div class="row">
      <div class="col-md-6 form-block">
        <%=  render 'form' %>
      </div>
      <div class="col-md-6">
        <%= render 'map_for_form' %>
      </div>
  </div>
</div>