<div class="container">
  <h1 class="al-center">Редактировать организацию</h1>
  <div class="row">
    <div class="col-md-6 form-block">
      <%=  render 'form', btn_txt: "Сохранить изменения" %>
    </div>
    <div class="col-md-6">
      <p>Карта для страницы регистрации организации</p>

      <button id="map-reset">Reset Map</button>
      <br><br>
      <div id="map">
        <button class="pure-button "></button>
      </div>
  </div>
</div>