<div class="container">
  <h1>Индексная страница сайта:</h1>
  <p>Карта для страницы регистрации организации</p>
  <input type="number" id="latitude">
  <input type="number" id="longitude">
  <button id="map-reset">Reset Map</button>
  <div id="map"></div>
  <br><br><br>
  <h3>Карта для главной страницы</h3>
  <div id="index-map"></div>
  <br><br><br><br>
</div>

