<div class="container">
  <h1 class="al-center">Зарегистрировать организацию</h1>
  <div class="row">
    <div class="col-md-6 form-block">
      <%=  render 'form', btn_txt: "Зарегистрировать" %>
    </div>
    <div class="col-md-6">
      <p>Карта для страницы регистрации организации</p>
      <div id="leafletmap"></div>
      <i class="fa fa-map-marker"></i>
      <button class="pure-button pure-button-primary">Моё местоположение</button>
      <button id="map-reset">Reset Map</button>
      <br><br>
      <div id="map"></div>
      <br><br><br>
    </div>
  </div>
</div>