<div class="container">
  <h1 class="al-center"><%= t(".Register your organization") %></h1>
  <div class="row">
    <div class="col-md-6 form-block">
      <%=  render 'form' %>
    </div>
    <div class="col-md-6">
      <p><%= t(".Map for register organization") %></p>
      <i class="fa fa-map-marker"></i>
      <button class="pure-button pure-button-primary"></button>
      <button id="map-reset">Reset Map</button>
      <br><br>
      <div id="map"></div>
      <br><br><br>
    </div>
  </div>
</div>